h6{
    color:red;
    font-size: 16px;
    font-weight:bold;
}
h3{
    font-style:italic;
    text-transform: uppercase ;
    text-align: center;
    text-decoration: line-through;
    letter-spacing: 1px;
}

div{
    color: blueviolet;
    line-height: 1;
    letter-spacing: 2px;
    background-color: yellow;
}

.cool{
    color: hsla(183, 61%, 37%, 0);
}
.quote{
    color: rgb(230, 30, 30);
}
.bmw{
    height : 510px;
    width : 510px;
    border-radius: 100px ;
     object-fit: cover;
     display: block;

}